body{
    background-color: rgb(11, 61, 112);
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
body.b8{
    background-color: crimson;
}
.b1{
    background-color: rgb(72, 236, 124);
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.b2{
    background-color: rgb(72, 225, 169);
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.b3{
    background-color: rgb(181, 235, 80);
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.b4{
    background-color: rgb(154, 84, 234);
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.b5{
    background-color: rgb(236, 131, 69);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.site-nav{
    margin-top: 0;
    margin-bottom: 0;
    float: left;
   }
 .site-nav ul{
   margin: 5px;
   padding: 40px;
   float: left;
 }
 .site-nav li{
  list-style: none;
  float: left;
 }
 .site-nav a{
   display:block ;
   color:hsl(0, 26%, 96%) ;
   text-decoration:none ;
   padding:10px 20px ;
   border:3px solid #f2b009 ;
   border-bottom:20px;
 }
 .site-nav a :hover{
   background-color: #ebeb0b;
 }
body.b8  header.b9{
  background-color: cadetblue;
}
